node_modules/
.expo/
dist/
npm-debug.*
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
/android
/ios
prayer-app.jks
google-services.json
eas.json
app.json
credentials.json
credentials/

# macOS
.DS_Store

# Expo
.expo
dist/
web-build/